body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fc-button {
  margin-left: 20px;
}

.chakra-checkbox__control {
  border-radius: 50% !important;
  /* align-items: flex-start !important; */
}
/* .chakra-checkbox {
  align-items: flex-start !important;
} */

.ck-content.ck-editor__editable.ck-rounded-corners{
  height: 600px;
  border-radius: 0 0 20px 20px !important;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 24px;
}


.ck-toolbar.ck-toolbar_grouping{
  border-radius: 20px 20px 0 0 !important;
  border: none !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 24px;
}


h2.fc-toolbar-chunk {
  font-size: 1.75em;
  margin-right: 20px;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1.5em;
  width: max-content;
  display: flex;
  flex-direction: row;
}

.fc-header-toolbar {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
